<h2>Article Title: <%=@this_article.title%></h2>
<h2>Article Content: <%=@this_article.content%></h2>

<form method = "POST" action = '/articles/<%=@article.id%>'>
  <input type= "hidden" name= "_method" id = "hidden" value= "DELETE">
  <input type="submit" value="Delete Article?">
</form>
